<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/compiled/bootstrap-italia-custom.min.css">

    <title>{{ page.title }}</title>

  </head>
  <body>
    {% include header.html %}
    {{ content }}    
    
    <!-- JS -->
    <script src="bootstrap-italia/dist/js/bootstrap-italia.bundle.min.js"></script>
  </body>
</html>